@font-face {
    font-family: 'Inter';
    src: url(../../vendor/fonts/Inter-Regular.woff);
    src: url(../../vendor/fonts/Inter-Regular.woff2);
}

.promo {
    background-color: #073042;
    display: flex;
    justify-content: space-between;
}

.promo__info {
    margin: 75px 0 0 70px;
}

.promo__learn-button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: transparent;
    width: 129px;
    height: 36px;
    margin: 146px 0 75px;
}

.promo__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    max-width: 300px;
    margin: 36px 0 0;
}

.promo__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0;
    max-width: 640px;
}

.promo__web {
    width: 310px;
    height: 304px;
    margin: 75px 70px 0 0;
}

@media screen and (max-width: 910px) {
    .promo {
        flex-direction: column-reverse;
        align-items: center;
    }

    .promo__web {
        margin-top: 140px;
        margin-right: 0;
    }

    .promo__info {
        margin-top: 48px;
        margin-left: 0;
        text-align: center;
    }

    .promo__title {
        font-size: 40px;
        line-height: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .promo__subtitle {
        margin: 22px auto 0;
    }

    .promo__learn-button {
        margin-top: 92px;
    }
}

@media screen and (max-width: 486px) {
    .promo__web {
        width: 210px;
        height: 206px;
        margin-top: 70px;
    }

    .promo__info {
        margin-top: 44px;
    }

    .promo__title {
        font-size: 30px;
        line-height: 38px;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: -0.04em;
    }

    .promo__subtitle {
        margin-top: 24px;
    }

    .promo__learn-button {
        margin-top: 80px;
        margin-bottom: 30px;
    }
}