@font-face {
    font-family: 'Inter';
    src: url(../../vendor/fonts/Inter-Medium.woff);
    src: url(../../vendor/fonts/Inter-Medium.woff2);
}

@font-face {
    font-family: 'Inter';
    src: url(../../vendor/fonts/Inter-Regular.woff);
    src: url(../../vendor/fonts/Inter-Regular.woff2);
}

.header {
    background-color: #073042;
    display: flex;
    justify-content: space-between;
}

.header__elements {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 38px;
    height: 38px;
    margin: 18px 0 18px 70px;
}

.header__signin-button {
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background-color: #3DDC84;
    border: none;
    margin: 0 70px 0 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.header__signup-button {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    margin: 0 24px 0 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (max-width: 910px) {
    .header__logo {
        margin-left: 30px;
    }

    .header__signin-button {
        margin-right: 30px;
    }
}

@media screen and (max-width: 486px) {
    .header__logo {
        margin-left: 14px;
    }

    .header__signin-button {
        margin-right: 14px;
        width: 54px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
    }

    .header__signup-button {
        font-size: 10px;
        line-height: 16px;
        margin-right: 8px;
    }
}