@font-face {
    font-family: 'Inter';
    src: url(../../vendor/fonts/Inter-Regular.woff);
    src: url(../../vendor/fonts/Inter-Regular.woff2);
}

.techs {
    background-color: #272727;
}

.techs__container {
    max-width: 1280px;
    margin: 0 auto;
}

.techs__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 90px 0 0;
}

.techs__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 460px;
    margin: 26px auto 0;
}

.techs__technology {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 100px 70px 0;
    padding: 0 0 100px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.techs__icon {
    background: #303030;
    border-radius: 10px;
    width: 90px;
    height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-family: 'Inter', Arial, sans-serif;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.techs__heading {
    padding-top: 100px;
}

@media screen and (max-width: 910px) {
    .techs__heading {
        padding-top: 90px;
    }

    .techs__title {
        margin-top: 80px;
    }

    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
    }

    .techs__icon {
        font-size: 12px;
        line-height: 15px;
        width: 84px;
        height: 57px;
    }

    .techs__technology {
        margin: 83px 60px 0;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 486px) {
    .techs {
        background-color: #202020;
    }

    .techs__heading {
        padding-top: 47px;
        border-bottom: 1px solid #000000;
        ;
    }

    .techs__technology {
        column-gap: 10px;
        row-gap: 10px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .techs__title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__subtitle {
        margin-left: 18px;
        margin-right: 18px;
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .techs__technology {
        margin-left: 71px;
        margin-right: 71px;
        justify-content: flex-start;
    }
}